body {
  background-color: #fafafa;
  color: #000;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}

#menu h1, #menu a {
  letter-spacing: 0.2em;
}

#menu-links a {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  padding-left: 0.5em;
}

::selection {
  background: #4295CE;
  color: #fff;
}

.bold {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#menu,.social-thumbnails {
  width: 100%;
	max-width: 1500px;
	padding: 1em 2vw;
}

#menu {
  margin: 5vmin auto;
}

#menu img {
  max-height: 50px;
  vertical-align: top;
  margin: 0 1.3em;
}

#menu a {
  display: inline-block;
  line-height: 50px;
}

#menu-links a, #top-menu h1 {
  font-size: 2.5rem;
}

#menu hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#top-menu {
  /* height: 5vh; */
  line-height: 50px;
  top: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

#top-menu a {
  text-decoration: none;
  font-weight: 700;
}

#name h1 {
  font-weight: 700;
  display: inline;
  line-height: 50px;
  font-family: 'Roboto Mono', monospace;
}

.social-thumbnails {
  text-align: right;
  cursor: pointer;
  margin: 2vh auto 2vh auto;
  /* position: sticky;
  bottom: 0; */
}

.social-thumbnails img {
  height: 5vh;
  width: 5vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  opacity: 1;
  cursor: pointer;
}

.social-thumbnails img#fte-thumb {
  width: 5vh;
  height: 4.5vh;
  margin-bottom: 2px;
}

a {
  color: #000;
  text-decoration: none;
  /* font-weight: 500; */
}

.about-content a, .project-content a, a.next-project-link, a.project-title-link {
  padding-bottom: 0.15em;
  padding-top: 0.15em;
  background:
     linear-gradient(
       to bottom, #4295CE 0%,
       #4295CE 100%
     );
  background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 0.12em 0.12em;
  transition: all 200ms ease-in-out;
}

.about-content a:hover, .project-content a:hover, a.next-project-link:hover, a.project-title-link:hover {
  color: #fff;
  transition: all 200ms ease-in-out;
  background-size: 100% 100%;
}

a:hover {
  color: #4295CE;
}

a.active {
  color: #4295CE;
}

.about-content {
  width: 100%;
  max-width: 900px;
  padding: 0 2em;
  font-weight: 300;
  margin: 0px auto 0px auto;
}

.about-content p {
  font-size: 1.6rem;
  line-height: 2em;
}


/* Responsive Styles */
@media screen and (max-width : 710px){

  #top-menu, #name {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #menu {
    margin: 1rem auto 0px auto;
  }

  .social-thumbnails {
    text-align: center;
  }

  #menu-links {
    width: 100vw;
    justify-content: space-between;
  }

  .social-thumbnails img {
    height: 9vw;
    width: 9vw;
    margin: 0 2vw;
  }

  #top-menu h1, #menu-links a {
    font-size: 8vw;
    text-align: center;
  }

  #name, #menu-links {
    margin: .25em 0px;
  }

  #menu img {
    max-height: 15vmin;
  }

  #name h1 {
    line-height: 15vmin;
  }

  #menu-links a {
    padding: 0 0.25em;
    font-size: 7vw;
  }

  #work-thumbnails img {
    width: 100%;
  }

  .about-content p {
    font-size: 1rem;

  }

  a.project-title-link {
    font-size: 1.1em;
    letter-spacing: 0.05em;
  }

  /* p {
    font-size: 2vh;
  } */

}
